// Vendors
@import 'bootstrap/scss/bootstrap';
@import './variables.scss';


body {
  background-color: $mainbackground;
  font-family: "Ubuntu", sans-serif;
}

.header {
  background-color: $grey;
}

.clock_separator {
  animation: myfade 1s ease infinite;
}

@keyframes myfade {
  0% {
    opacity: 1.0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  };
}

.board {
  height: 83vh;

  &__header{
    height: 10%;
  }
  &__column-header{
    max-width: 32%;
  }
  &__column-counter {
    color: $blue;
  }
  &__columns {
    height: 90%;
  }
  &__column {
    max-width: 32%;
  }
  &__column::-webkit-scrollbar {
    display: none;
  }
}

.modal-content {
  background-color: $mainbackground;
}

.delete-btn:hover {
  color: $red;
  box-shadow: inset 0 0 15px $red;
}

.regular-btn:hover {
  color: $graphite;
  box-shadow: inset 0 0 15px $graphite;
}

.form-select {
  option {
    background-color: $mainbackground;
  }
}